*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Outfit", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
